:root {
    --dark-1: #202225;
    --dark-2: #292b2f;
    --dark-3: #2f3136;
    --dark-4: #40444b;
    --white: #ffffff;
    --success: #32cd32;
    --warning: #ffd700;
}

body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    line-height: 1.6;
    color: var(--white);
    background-color: var(--dark-1);
}

#app {
    display: flex;
    flex-direction: column;
}

.log-stats {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    outline: 0;
    background-color: var(--dark-2);
    color: #777777;
    padding: 4px;
    cursor: pointer;
}

.steam-card {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 650px;
    padding: 16px;
    margin: 50px auto;
    margin-bottom: 0px;
    background-color: var(--dark-4);
}

.game-info {
    display: flex;
    width: 100%;
    height: 70%;
}

.game-info--photo {
    width: 200px;
    height: 100%;
}

.game-info--photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-info--name {
    font-size: 26px;
    margin-left: 8px;
}

.game-info--hours {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 16px;
}

.game-info--hours #show-details {
    font-size: 12px;
}

.game-info--hours #show-details:hover {
    cursor: pointer;
    opacity: 0.5;
}

.toggle-container {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
}

.toggle-container:not(.active) {
    display: none;
}

.game-achivements {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    background-color: var(--dark-3);
}

.game-achivements .progress-text {
    font-size: 14px;
    margin-left: 8px;
}

.game-achivements .progress-bar {
    width: 200px;
    height: 14px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: var(--dark-4);
    overflow: hidden;
}

.game-achivements .progress-bar .progress-bar--value {
    height: 100%;
    width: 0%;
    background-color: var(--warning);
}

.game-achivements .progress-tick {
    color: var(--success);
    font-size: 24px;
    margin-left: 4px;
    display: none;
}

#hours-details {
    width: 650px;
    margin: 0px auto;
    background-color: var(--dark-4);
}

#hours-details ul {
    list-style: none;
    margin: 0px 16px;
    font-size: 14px;
}

#hours-details ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 2px;
}

#hours-details ul li:hover {
    background-color: var(--dark-3);
}

.today-result {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    width: 650px;
    margin: 24px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.session-result {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    width: 650px;
    margin: 24px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.panel {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2px;
    width: 650px;
    padding: 16px;
    margin: 24px auto;
    margin-bottom: 0px;
    background-color: var(--dark-4);
}

.panel .panel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color: inherit;
    background-color: var(--dark-3);
    border: 0;
    outline: 0;
}

.panel .panel-item:hover {
    cursor: pointer;
    background-color: var(--dark-2);
}

.panel .panel-item:disabled {
    opacity: 0.4;
    color: var(--dark-4);
}

.panel .panel-item i {
    font-size: 22px;
}

.add-outer-value {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    width: 650px;
    margin: 24px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.add-outer-value input,
.add-outer-value select {
    border: 0;
    outline: 0;
    padding: 4px;
    width: 75px;
    background-color: var(--dark-3);
    color: var(--white);
}

.add-outer-value input[type="submit"] {
    cursor: pointer;
}

.add-outer-value select {
    width: fit-content;
}