:root {
    --dark-1: #202225;
    --dark-2: #292b2f;
    --dark-3: #2f3136;
    --dark-4: #40444b;
    --white: #ffffff;
    --success: #32cd32;
    --warning: #ffd700;
}

body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    line-height: 1.6;
    color: var(--white);
    background-color: var(--dark-1);
}

#app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.log-stats {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    outline: 0;
    background-color: var(--dark-2);
    color: #777777;
    padding: 4px;
    cursor: pointer;
}

.steam-card {
    width: 650px;
    height: 100px;
    padding: 16px;
    margin: 24px auto;
    margin-bottom: 0px;
    background-color: var(--dark-4);
    position: relative;
}

.game-info {
    display: flex;
    width: 100%;
}

.game-info--photo {
    width: 145px;
    height: 100px;
}

.game-info--photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-info--name {
    font-size: 22px;
    margin-left: 8px;
    margin-top: 8px;
}

.game-info--hours {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 16px;
}

.game-info--hours #show-details {
    font-size: 12px;
}

.game-info--hours #show-details:hover {
    cursor: pointer;
    opacity: 0.5;
}

.toggle-container {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
}

.toggle-container:not(.active) {
    display: none;
}

#hours-details {
    width: 650px;
    margin: 0px auto;
    background-color: var(--dark-4);
}

#hours-details ul {
    list-style: none;
    margin: 0px 16px;
    font-size: 14px;
}

#hours-details ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 2px;
}

#hours-details ul li:hover {
    background-color: var(--dark-3);
}

.today-result {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    width: 650px;
    margin: 8px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.session-result {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    width: 650px;
    margin: 8px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.panel {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 16px 6px;
    width: 650px;
    padding: 16px;
    margin: 8px auto;
    margin-bottom: 0px;
    background-color: var(--dark-4);
}

.panel .panel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: inherit;
    background-color: palevioletred;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: all ease 0.1s;
}

.panel .panel-item:hover {
    cursor: pointer;
    background-color: pink;
}

.panel .panel-item:disabled {
    opacity: 0.4;
    color: var(--dark-4);
}

.panel .panel-item:active {
    transform: translateY(4px);
}

.panel .panel-item i {
    font-size: 22px;
}

.add-outer-value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    width: 650px;
    margin: 8px auto;
    margin-bottom: 0px;
    padding: 4px 16px;
    font-size: 18px;
    background-color: var(--dark-4);
}

.add-outer-value input,
.add-outer-value select {
    border: 0;
    outline: 0;
    padding: 4px;
    width: 75px;
    background-color: var(--dark-3);
    color: var(--white);
}

.add-outer-value input[type="submit"] {
    cursor: pointer;
}

.add-outer-value select {
    width: fit-content;
}

.add-outer-value input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.add-outer-value label {
    font-size: 12px;
    line-height: normal;
}

.levels-card {
    display: flex;
    flex-direction: column;
    width: 650px;
    padding: 16px;
    margin: 8px auto;
    margin-bottom: 0px;
    background-color: var(--dark-4);
    position: relative;
}

.game-achivements {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 4px;
    height: 40px;
    background-color: var(--dark-3);
}

.game-achivements .progress-bar {
    width: 200px;
    height: 14px;
    margin: 0px 12px;
    background-color: var(--dark-4);
    overflow: hidden;
}

.game-achivements .progress-bar .progress-bar--value {
    height: 100%;
    width: 0%;
    background-color: var(--warning);
}

.progress-bar-complete {
    box-shadow: 0 0 5px 3px #f3c623;
}

.bg-img {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.bg-img-1 {
    left: 16px;
    bottom: 0px;
}

.bg-img-2 {
    right: 16px;
    bottom: -16px;
}

.bg-img-3 {
    bottom: -3px;
    left: 282px;
}

.bg-img-4 {
    top: 92px;
    right: -64px;
}

.bg-img-5 {
    top: 12px;
    left: -64px;
    transform: rotateY(180deg);
}

.bg-img-6 {
    bottom: -64px;
    left: 64px;
}

.bg-img-7 {
    bottom: -64px;
    right: 64px;
}

.bg-img-8 {
    top: -22px;
    right: -22px;
    z-index: 0;
    opacity: 1;
    transform: rotateZ(15deg)
}

.bg-img-glow {
    position: absolute;
    z-index: -2;
    opacity: 0.2;
}

.bg-img-glow-6 {
    bottom: -59px;
    left: 76px;
    height: 44px;
    width: 42px;
    border-radius: 50%;
    animation: glow 1.5s linear infinite alternate;
}

.bg-img-glow-7 {
    bottom: -59px;
    right: 76px;
    height: 44px;
    width: 42px;
    border-radius: 50%;
    animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
    to {
        box-shadow: 0 0 15px 15px palevioletred;
    }
}

div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }

    100% {
        opacity: 0.2;
        width: 5em;
        height: 5em;
        margin: -2.5em;
        border-width: 0.03em;
    }
}